@font-face {
    font-family: 'popstarregular Regular';
    font-style: normal;
    font-weight: normal;
    src: local('popstarregular Regular'), url('POPSTAR.woff') format('woff');
    }

h1 {
    font-family: 'popstarregular Regular';
}